<form action="/sessions/new" method="post">
  <input type="email" name="email" placeholder="Email" maxlength="50" required>
  <input type="password" name="password" placeholder="Password" maxlength="50" required>
  <input type="submit" name="Sign In">
</form>
